body {
  font-family: 'Lucida Grande', 'Helvetica Neue', 'Source Sans Pro', 'Trebuchet MS',  'Bitstream Vera Sans', sans-serif;
  font-size: 14px;
  background-color:  #666666;
  color: #DFDFDF;
}

td{
  border: 1px solid #666666;
  background-color: #858585;
}

td.instrument-cell{
  color: #DFDFDF;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
  vertical-align:middle;
  //width: 70px;
}

td.note-cell{
  width: 50px;
  height: 50px;
}

td.play-on{
  background-color: #FED134;
}

td.quarter-note-start{
  border-left: 1px solid black!important;
  //padding-left: 1px;
  z-index: 10;
}

button{
  background-color: white;
  font-family: 'Lucida Grande';
  color: black;
  width: 60px;
  font-size: 14px;
  padding: 10px;
  border: none;
  margin: 2px;
  border: 1px solid grey;
  margin-bottom: 3px;
  //background-color: black;
}

button:disabled{
  color: grey;
}
